
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

body{
    background-color: #212121;
    
}
.nav-left svg{
    width: 35px;
    height: 35px;
    fill: #ffffff;
}

.nav-left h2{
    color: #ffffff;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    padding: 10px;
    cursor:pointer;
}

.nav-left h2:hover{
    background-color: #303030;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main{
    margin: 0 auto;
    
    height: 90vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    /* background-color: #474646; */
}

.main h1{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

.searchbar{
    height: 100px;
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #303030;
    border-radius: 15px;
    padding: 10px;}

.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

input{
    width:100%;
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    border: 0.5px solid transparent;
    /* outline: none; */
    

    /* border: 0px solid #ffffff; */
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

button{
    background-color: transparent;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    padding: 3px 20px;
    margin-left: 5px;
    border-radius: 10px
}

.buttons-left{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.search-section{
    height: 180px;
    width: 80%;
    min-width: 600px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


@media (max-width: 768px) {
    .main{
        width: 90%;
    }
    .search-section{
        min-width: 100%;
    }
    .buttons-left{
        max-width: 100%;
    }
}